<table id="scoresheet">
  <tr>
    <th [colSpan]="frames[i].length" *ngFor="let frame of frames; let i = index">{{ i + 1 }}</th>
  </tr>
  <tr>
    <ng-container *ngFor="let frame of frames; let i = index">
      <td>{{ frame[0] == 10 ? 'X' : frame[0] }}</td>
      <td>{{ (i == 10 && frame[1] == 10) ? 'X' : frame[0] == 10 ? '&nbsp;' : (frame[0] != 10 && frame[0] + frame[1] == 10) ? '/' : frame[1] }} </td>
    </ng-container>
  </tr>
  <tr>
    <td [colSpan]="frames[i].length" *ngFor="let point of points; let i = index">{{ point }}</td>
  </tr>
</table>

<p *ngIf="response">{{ response }}</p>

<button id="btn-game-new" mat-raised-button (click)="newGame()">Fetch New Scores from API</button>

<router-outlet></router-outlet>