<table class="mat-table">
  <tr class="mat-header-row">
    <th class="mat-header-cell" colspan="2" *ngFor="let frame of frames; let i = index">{{ i }}</th>
  </tr>
  <tr class="mat-row">
    <ng-container *ngFor="let frame of frames; let i = index">
      <td class="mat-cell" *ngFor="let roll of frame">{{ roll }}</td>
    </ng-container>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell" [colSpan]="frames[i].length" *ngFor="let point of points; let i = index">{{ point }}</td>
  </tr>
</table>

<button mat-raised-button (click)="newGame()">Fetch New Scores from API</button>

<router-outlet></router-outlet>